body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: rgb(16, 151, 106);
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.content {
    display: flex;
    min-height: calc(100vh - 110px); 
}

.sidebar {
    background-color: rgb(79, 94, 232);
    color: white;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.main {
    background-color: rgb(0, 255, 34);
    color: white;
    flex: 1;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; 
    box-sizing: border-box; 
}

.bottom-containers {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.box {
    background: rgb(251, 255, 0);
    color: rgb(255, 255, 255);
    width: 600px;
    height: 100px;
    display: flex;
    margin-left: 110px;
    
    justify-content: center;
    
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-weight: bold;
}
.box2{
    background-color: green;
    width: 700px;
    height: 100px;
}

.footer {
    background: #222;
    color: #fff;
    margin-bottom: 1000px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}